header{
    background-color:  white;
    padding: 16px 0;
}
footer{
    background-color:  black;
    padding: 8px 0;
    color: white;
    text-align: center;
    font-size: 12px;
}
body{
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#imagen{
    display: inline;
    max-width: 100px;
}
.quote-two-content{
    text-align: center;
}
