

html,button,input,select,textarea {
    color: #222;
}

body {
    font-size: 16px;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


header
{
    background-color: black;
}
.texto
{
    color: white;
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;
}
.tamtex1
{
    font-size: 60px;
}
.tamtex2
{
    font-size: 30px;
}
.centrar
{
    padding-top: 45px;
    padding-left: 100px;
}
.color3
{
    background-color: #ff0000;
}
.color4
{
    background-color: #e20ce8;
}
.color5
{
    background-color: #6e0dff;  
}
.color6
{
    background-color: #ffbacd;
}
.color7
{
    background-color: #e8c17a;
}
.color8
{
    background-color: #A3FF62;
}
.color9
{
    background-color: #59d6e8;
}
.color10
{
    background-color: #c68aff;
}
.color11
{
    background-color: #ff609b;
}
.color12
{
    background-color: #e8a128;  
}
.color13
{
    background-color: #7dff08;
}
.color14
{
    background-color: #08d7e8;
}
.color15
{
    background-color: #9031ff;
}
.color16
{
    background-color: #d5e8e4;
}
.color17
{
    background-color: #e8a25b;
}
.color18
{
    background-color: #e884da;
}

















@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


@media print {
    * {
        background: transparent !important;
        color: #000 !important; 
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; 
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}